<header>
    <a href="{{ site.url }}" class="profile"></a>
    <p>Hello, I'm <span class="u-color-alpha">Matt Couchman</span>.</p>
    <p>I'm a front end web developer from Birmingham, UK with over 5 years experience working for companies of all sizes in both the UK and Australia.</p>
    <p>You can find me on <a href="http://codepen.io/mattcouchman">CodePen</a>, <a href="http://github.com/mattcouchman">GitHub</a> or say hello on <a href="http://twitter.com/mattcouchman">Twitter</a>.</p>
</header>
