/** Colors */

$color-black:   #333;
$color-white:   #fff;
$color-alpha:   #22313F;
$color-beta:    #52B3D9;

/** Spacing */
$spacing:       20px;
$spacing-large: $spacing * 2;
$spacing-small: $spacing / 2;
