/** Colors */
$blue:          #59ABE3;
$blue-dark:     #2980b9;

$red:           #e74c3c;
$red-dark:      #c0392b;

$color-black:   #333;
$color-white:   #fff;
$color-alpha:   $blue;
$color-beta:    $red-dark;

/** Spacing */
$spacing:       1.4rem;
$spacing-large: $spacing * 2;
