/**
@name Article
*/

article {
    font-size: 1.2rem;
    padding-bottom: $spacing-large;

    h3 {
        font-size: 2.2rem;
        margin-bottom: 2rem;
        line-height: 1.2;
        a {
            color: $color-alpha;
            text-decoration: none;
            transition: all linear .1s;
            &:hover {
                color: $color-black;
            }
        }
    }
}

.post-title {
    padding-bottom: 0;
    margin-bottom: $spacing;
}

.post-details {
    font-size: .9rem;
}

.post-title-divider {
    display: inline-block;
    width: 40%;
    height: 5px;
    background: $color-black;
    margin-bottom: $spacing-small;
}
