/**
@name Header
*/

header {
	padding: $spacing-large;
	background: $color-black;
	color: $color-white;
    font-size: 1.2rem;
    font-weight: normal;

    a {
        color: $color-white;
        text-decoration: none;
        border-bottom: 2px solid;
        &:hover {
            background-color: $color-alpha;
        }
    }
}

$readability-max: 46rem;

@media (min-width: 46rem) {
	$sidebar-width: 36%;

	header {
		position: fixed;
		width: $sidebar-width;
		height: 100%;
		border-bottom: 10px solid $color-alpha;
		overflow-y: auto;
	}
	section {
		display: inline-block;
		width: (100 - $sidebar-width);
		margin-left: $sidebar-width;
		max-width: $readability-max;
	}
}

@media (min-width: 100rem) {
	$sidebar-width: 25%;

	header {
		width: $sidebar-width;
	}
	section {
		width: (100 - $sidebar-width);
		margin-left: $sidebar-width;
	}
}
