/**
@name Profile
@description This is just a profile image displayed in the header.
*/

.profile {
    // 156 x 248
    width: 156px;
    height: 248px;
    display: block;
    margin: 0 auto;
    border-bottom: 2px solid;
    margin-bottom: $spacing-large;
    background: url(../images/me-sprite-large.png) no-repeat left center;
    background-size: 400%;
    animation: rotate 25s step-start infinite;

    &:hover {
        background-position: right;
        background-color: transparent;
    }

    @media (min-width: 46rem) {
        margin: 0;
        border: none;
        position: absolute;
        bottom: 0;
        left: $spacing-large;
    }
}

@-webkit-keyframes rotate {
    25% {
        background-position: 0% 0;
    }
    50% {
        background-position: (100%/3) 0;
    }
    75% {
        background-position: (100%/3)*2 0;
    }
    100% {
        background-position: 100% 0;
    }
}
