@keyframes slide {
	0% {
		height: $spacing-large;
		width: 0;
	}
	
	50% {
		height: $spacing-large;
		width: 25vw;
	}
	
	100% {
		height: 25vw;
	}
}

@media (max-width: 600px) {
	@keyframes slide {
		0% {
			height: $spacing;
			width: 0;
		}
		
		50% {
			height: $spacing;
			width: 25vw;
		}
		
		100% {
			height: 25vw;
		}
	}
}